/* You can add global styles to this file, and also import other style files */
$site-bg-color: #e4e3e5;
$primary-color: #b78dd6;
$header-color: #3B0065;
$font-color: #36025b;

body {
  margin: 0;
  padding: 0;
  background-color: $site-bg-color;
}
